<a href="/"><button type="submit" class="btn btn-primary">Back to home</button></a>

<div class="users">

{{#each users as |user|}}
    <div class="card is-{{ get_user_status user }}">
        <div class="card-body">
            <div class="user-avatar">
                <img src="{{ get_user_avatar user }}" alt="{{ user.avatar }}" />
            </div>
            <p class="card-title">{{ user.name }}</p>
            <p class="card-text">{{ user.email }}</p>
            <p class="user-date text-info">{{ datetime user.createdAt }}</p>
            <span class="user-status badge badge-pill badge-{{ get_user_status user }} badge-pill">{{ user.active }}</span>
        </div>
    </div>
{{/each}}

</div>